@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;900&display=swap");
html {
  font-size: 1px;
}

@-webkit-keyframes scroll {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes scroll {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 20px;
  }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  transform-origin: center bottom;
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 53%, 80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 53%, 80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  color: hsl(193deg, 27%, 31%);
  font-family: "Noto Sans KR", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.section {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100rem;
  height: 100vh;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  background: hsl(193deg, 27%, 31%);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.header-logo {
  background: #000000;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav ul {
  width: 100rem;
  text-align: center;
}
.header-nav ul li a {
  font-size: 20rem;
  padding: 10rem 5rem;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1rem solid rgba(255, 255, 255, 0.27);
}
.header-nav ul li a:not(first-child) {
  margin-top: -1rem;
}
.header-nav ul li a:hover {
  background: #e6e6e6;
  color: hsl(193deg, 27%, 31%);
  border: 1rem solid rgba(0, 0, 0, 0.3);
}
.header-ico {
  padding-bottom: 50rem;
}
.header-ico ul {
  display: flex;
  gap: 10rem;
}
.header-ico ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.header-ico ul li a i {
  font-size: 28rem;
}
.header-ico ul li a i:hover {
  color: #222;
}

.main .section1 {
  background: #e6e6e6;
  position: relative;
}
.main .section1-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20rem;
  padding-left: 150rem;
  box-sizing: border-box;
}
.main .section1-text h1 {
  font-size: 50rem;
  margin-bottom: 15rem;
  line-height: 180%;
  text-shadow: 0 3rem 5rem rgba(255, 255, 255, 0.5);
}
.main .section1-text h1 .blast {
  position: relative;
  display: inline-block;
  position: relative;
  bottom: 0;
}
.main .section1-text h1 .blast:hover {
  color: #222;
}
.main .section1-text em {
  font-size: 16rem;
}
.main .section1-text a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16rem;
}
.main .section1-text a button {
  width: inherit;
  padding: 10px 60px;
  background: transparent;
  border: 2px solid hsl(193deg, 27%, 31%);
  color: hsl(193deg, 27%, 31%);
  border-radius: 3px;
  font-weight: bold;
  text-shadow: 0 3rem 5rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 3rem 5rem rgba(255, 255, 255, 0.5);
  margin-top: 30rem;
  cursor: pointer;
}
.main .section1-text a button:hover {
  background: hsl(193deg, 27%, 31%);
  color: #fff;
  text-shadow: none;
}
.main .section1-scroll {
  position: absolute;
  bottom: 20rem;
  right: 20rem;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transition: 0.5;
  -webkit-animation: scroll 1.5s infinite ease-in;
          animation: scroll 1.5s infinite ease-in;
}
.main .section1 .contact {
  display: none;
  width: 100%;
  height: 100%;
  background: #222;
  position: absolute;
  z-index: 10;
}
.main .section1 .contact-wrap {
  width: 80%;
  height: 100%;
  padding: 100rem 0;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  left: 50rem;
}
.main .section1 .contact-close {
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: 10%;
  right: -20rem;
  z-index: 12;
  cursor: pointer;
}
.main .section1 .contact-close i {
  color: #fff;
  display: block;
  font-size: 40rem;
  width: 100%;
  height: 100%;
}
.main .section1 .contact-tit {
  font-size: 40rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 50rem;
}
.main .section1 .contact-img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60rem;
}
.main .section1 .contact-form fieldset {
  height: 388rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 24rem;
}
.main .section1 .contact-form fieldset label {
  font-size: 25rem;
  font-weight: bold;
  color: #fff;
  text-align: left;
}
.main .section1 .contact-form fieldset input {
  width: 40%;
  height: 36rem;
  font-size: 16rem;
  background: transparent;
  border: 4rem solid #fff;
  padding-left: 10rem;
  color: #fff;
}
.main .section1 .contact-form fieldset input:focus {
  border: 4rem solid #8ABFD3;
  outline: none;
}
.main .section1 .contact-form fieldset input::-moz-placeholder {
  color: #fff;
}
.main .section1 .contact-form fieldset input:-ms-input-placeholder {
  color: #fff;
}
.main .section1 .contact-form fieldset input::placeholder {
  color: #fff;
}
.main .section1 .contact-form fieldset .rightI {
  height: 276rem;
}
.main .section1 .contact-form fieldset button {
  background: transparent;
  border: 3rem solid #8ABFD3;
  width: 250rem;
  height: 70rem;
  position: absolute;
  bottom: 100rem;
  font-weight: 700;
  font-size: 30rem;
  line-height: 43rem;
  color: #8ABFD3;
  cursor: pointer;
}
.main .section1 .contact-form fieldset button:focus {
  outline: none;
  background: #8ABFD3;
  color: #fff;
}
.main .section1 .contact-form fieldset button:hover {
  outline: none;
  background: #8ABFD3;
  color: #fff;
}
.main .section2 {
  background: #e6e6e6;
  display: flex;
  align-items: center;
}
.main .section2-wrap {
  width: 80%;
  height: 80%;
  margin-left: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .section2-profile {
  flex-basis: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30rem;
}
.main .section2-profile img {
  width: 40%;
}
.main .section2-profile-intro {
  text-align: center;
}
.main .section2-profile-intro h5 {
  font-size: 30rem;
}
.main .section2-profile-intro p {
  font-size: 20rem;
}
.main .section2-skills {
  flex-basis: 60%;
  font-size: 20rem;
}
.main .section2-skills h4 {
  border-bottom: 1rem solid #000;
  padding-bottom: 15rem;
  margin-bottom: 25rem;
}
.main .section2-skills img {
  display: block;
}
.main .section2-skills-top div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8%;
}
.main .section2-skills-top div img {
  width: 28%;
  margin-bottom: 20rem;
}
.main .section2-skills-bottom h4 {
  margin-top: 20px;
}
.main .section2-skills-bottom div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .section2-skills-bottom div img {
  width: 8%;
}
.main .section3 {
  color: #000;
  overflow: hidden;
  padding-left: 100rem;
  box-sizing: border-box;
  position: relative;
}
.main .section3-wrap {
  width: 100%;
  height: 100%;
  padding: 0 50rem;
  box-sizing: border-box;
}
.main .section3 h1 {
  padding: 50rem 0 20rem;
  font-size: 30rem;
  font-weight: bold;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  margin: 0;
}
.main .section3 .bg {
  width: 0;
  height: 374rem;
  background: rgba(255, 255, 255, 0.46);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
}
.main .section3 .circle {
  background: linear-gradient(180deg, rgba(248, 248, 248, 0.48) 0%, rgba(143, 143, 143, 0.57) 100%);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transition: 1s;
  z-index: -1;
}
.main .section3 .active {
  width: 200vw;
  height: 200vw;
  top: -50vw;
  left: -50vh;
  transition: 2s;
  opacity: 1;
}
.main .section3-cont {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 190rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  justify-content: center;
}
.main .section3-cont-text {
  display: flex;
  flex-direction: column;
  gap: 37rem;
}
.main .section3-cont-text h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
}
.main .section3-cont-text p {
  color: #000;
  font-size: 20px;
  line-height: 29px;
}
.main .section3-cont-text p b {
  display: inline-block;
  width: 90rem;
}
.main .section3-cont-text button {
  width: 200rem;
  height: 50rem;
  font-weight: 700;
  font-size: 20px;
  border: 3px solid #303030;
  color: #303030;
  cursor: pointer;
  background: transparent;
}
.main .section4 {
  color: #04124B;
  overflow: hidden;
  padding-left: 100rem;
  box-sizing: border-box;
  position: relative;
}
.main .section4-wrap {
  width: 100%;
  height: 100%;
  padding: 0 50rem;
  box-sizing: border-box;
}
.main .section4 h1 {
  padding: 50rem 0 20rem;
  font-size: 30rem;
  font-weight: bold;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  margin: 0;
}
.main .section4 .bg {
  width: 0;
  height: 374rem;
  background: rgba(255, 255, 255, 0.46);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
}
.main .section4 .circle {
  background: linear-gradient(180deg, rgba(201, 233, 242, 0.53) 0%, rgba(52, 125, 209, 0.5088) 68.87%);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transition: 1s;
  z-index: -1;
}
.main .section4 .active {
  width: 200vw;
  height: 200vw;
  top: -50vw;
  left: -50vh;
  transition: 2s;
  opacity: 1;
}
.main .section4-cont {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 190rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  justify-content: center;
}
.main .section4-cont-text {
  display: flex;
  flex-direction: column;
  gap: 37rem;
}
.main .section4-cont-text h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
}
.main .section4-cont-text p {
  color: #000;
  font-size: 20px;
  line-height: 29px;
}
.main .section4-cont-text p b {
  display: inline-block;
  width: 90rem;
}
.main .section4-cont-text button {
  width: 200rem;
  height: 50rem;
  font-weight: 700;
  font-size: 20px;
  border: 3px solid #04124B;
  color: #04124B;
  cursor: pointer;
  background: transparent;
}
.main .section5 {
  color: #FF49A4;
  overflow: hidden;
  padding-left: 100rem;
  box-sizing: border-box;
  position: relative;
}
.main .section5-wrap {
  width: 100%;
  height: 100%;
  padding: 0 50rem;
  box-sizing: border-box;
}
.main .section5 h1 {
  padding: 50rem 0 20rem;
  font-size: 30rem;
  font-weight: bold;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  margin: 0;
}
.main .section5 .bg {
  width: 0;
  height: 374rem;
  background: rgba(255, 255, 255, 0.46);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
}
.main .section5 .circle {
  background: linear-gradient(180deg, rgba(248, 248, 248, 0.71) 0%, rgba(255, 199, 219, 0.71) 100%);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transition: 1s;
  z-index: -1;
}
.main .section5 .active {
  width: 200vw;
  height: 200vw;
  top: -50vw;
  left: -50vh;
  transition: 2s;
  opacity: 1;
}
.main .section5-cont {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 190rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  justify-content: center;
}
.main .section5-cont-text {
  display: flex;
  flex-direction: column;
  gap: 37rem;
}
.main .section5-cont-text h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
}
.main .section5-cont-text p {
  color: #9F004D;
  font-size: 20px;
  line-height: 29px;
}
.main .section5-cont-text p b {
  display: inline-block;
  width: 90rem;
}
.main .section5-cont-text button {
  width: 200rem;
  height: 50rem;
  font-weight: 700;
  font-size: 20px;
  border: 3px solid #FF49A4;
  color: #FF49A4;
  cursor: pointer;
  background: transparent;
}
.main .section6 {
  color: #26997A;
  overflow: hidden;
  padding-left: 100rem;
  box-sizing: border-box;
  position: relative;
}
.main .section6-wrap {
  width: 100%;
  height: 100%;
  padding: 0 50rem;
  box-sizing: border-box;
}
.main .section6 h1 {
  padding: 50rem 0 20rem;
  font-size: 30rem;
  font-weight: bold;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  margin: 0;
}
.main .section6 .bg {
  width: 0;
  height: 374rem;
  background: rgba(255, 255, 255, 0.46);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
}
.main .section6 .circle {
  background: linear-gradient(180deg, #EBFFFA 0%, #AFE4D6 100%);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transition: 1s;
  z-index: -1;
}
.main .section6 .active {
  width: 200vw;
  height: 200vw;
  top: -50vw;
  left: -50vh;
  transition: 2s;
  opacity: 1;
}
.main .section6-cont {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 190rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  justify-content: center;
}
.main .section6-cont-text {
  display: flex;
  flex-direction: column;
  gap: 37rem;
}
.main .section6-cont-text h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
}
.main .section6-cont-text p {
  color: #0B3E30;
  font-size: 20px;
  line-height: 29px;
}
.main .section6-cont-text p b {
  display: inline-block;
  width: 90rem;
}
.main .section6-cont-text button {
  width: 200rem;
  height: 50rem;
  font-weight: 700;
  font-size: 20px;
  border: 3px solid #26997A;
  color: #26997A;
  cursor: pointer;
  background: transparent;
}/*# sourceMappingURL=style.css.map */